@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

.form {
    height:  50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form label,input{
    margin: .3rem;
    padding: .1rem;
    width: 20vw;
}

.form .btnRegister{
    border: none;
    background-color: black;
    color: white;
    padding: .4rem;
    border-radius: .6rem;
    cursor: pointer;
}