@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* <---------- Reset ----------> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Space Mono', monospace;
}

/* <---------- Default Adjustments ----------> */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

/* <---------- Header ----------> */

header .header-background img {
    width: 100%;
    position: absolute;
    z-index: 1;
}

header .header-navBar ul {
    height: 9rem;
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: flex-end;
    align-items: center;

}

header .header-navBar ul li {
    padding: 1.5rem;
}

header .header-navBar ul li a{
    font-size: 1.2rem;
}